<div class="tp-wrapper">
	<div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
		<div class="tp-box__side tp-box__front">
      <img [src]="'https://source.unsplash.com/bX9B9c-YasY/200x300'" />
		</div>
		<div class="tp-box__side tp-box__back">Back
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, animi?</p>
		</div>
	</div>

  <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
		<div class="tp-box__side tp-box__front">
      <img [src]="'https://source.unsplash.com/bX9B9c-YasY/200x300'" />
		</div>
		<div class="tp-box__side tp-box__back">Back
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, animi?</p>
		</div>
	</div>
  <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
		<div class="tp-box__side tp-box__front">
      <img [src]="'https://source.unsplash.com/bX9B9c-YasY/200x300'" />
		</div>
		<div class="tp-box__side tp-box__back">Back
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, animi?</p>
		</div>
	</div>
</div>
