 .tp-wrapper {
  display: flex;
  align-items: center;
  height: auto;
    }

    .tp-box {
      position: relative;
      width: 200px;
      height: 300px;
      margin: 3rem auto;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transform         : transform 1s;
          -ms-transform         : transform 1s;
              transform         : transform 1s;
    }
    .tp-box__side {
       width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      color: #fff;
      text-align: center;
      font-size: 24px;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }
    .tp-box__front {
      -webkit-transform : rotateY(0deg);
      -ms-transform     : rotateY(0deg);
      transform         : rotateY(0deg);
    }
    .tp-box__back {
      background: linear-gradient(45deg, #b95ca4,#4f29cd);
      -webkit-transform : rotateY(-180deg);
      -ms-transform     : rotateY(-180deg);
      transform         : rotateY(-180deg);
    }
